*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    background-image: url("./Mikasa Task Screenshots/background12.png");
    background-position: center;
    background-size: cover;
}


header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-header{
    width: 80%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 1.2rem;
    color: #555
}

.top-header ul li{
    padding: 0.5rem;
    border-right: 0.1rem  solid #a2a1a1;
    padding-right: 2rem;
    display: flex;
    align-items: center;
}
.top-header ul li img {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.top-header ul li:last-child{
    border-right: none;
}

/* navbar design */
.mid-header{
    width: 100%;
    background-color: #c2c0c0;
    display: flex;
    justify-content: center;
    border-top: 0.2rem solid #fff;
    border-bottom: 0.2rem solid #fff;
    outline: 0.1rem solid #b9b7b7;
    
}

nav{
    width: 80%;
    color: #000;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #373737;
}

.nav-part-one,.nav-part-two{
    display: flex;
    gap: 1rem;
}

.tab{
    font-size:1.2rem;
    padding:0.1rem 1.4rem;
    border-right:0.2rem solid #bdbdbd;
    white-space:nowrap;
    font-weight: lighter;
}

.search input{
    border:0.1rem solid #bdbdbd;
    outline: none;
    padding:0.2rem 0.6rem;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.search input::placeholder{
    font-size: 1rem;
    font-weight: 500;
}

.search button{
    padding: 0.2rem 0.6rem;
    font-size: 1rem;
    font-weight: 600;
    color: #2b2b2b;
}

/* bottom header */

.bottom-header{
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    border-bottom: 0.1rem solid #b9b7b7;
}

.bottom-header-details{
    width: 80%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.links{
    display: flex;
    gap: 1rem;
    color: #6C7B91;
    font-size: 1rem;
    padding-left: 1rem;
}

.links a,.right a {
    color: #6C7B91;
    text-decoration: none;
    font-weight: 300;
}

.dot{
    width: 0.9rem;
    height: 0.9rem;
    background-color: transparent;
    border: 0.1rem solid #b9b7b7;
    margin-top: 0.1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.right{
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* main - content */
.main-content{
    width: 100%;
    /* height: 50rem; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.hero-section{
    width: 80%;
    padding: 0.5rem 1rem;
}

.hero-section-top{
    display: flex;
    background-color: #fff;
    padding: 0.7rem;
    gap: 0.8rem;
}

aside{
    flex: 1;
    background-color: #333;
    padding: 1rem;
    color: #fff;
}

.sidebar-container{
    border: 0.1rem solid #fff;
    padding: 2rem 3rem;
}

.sidebar-container h4{
    text-align: left;
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.sidebar-container p{
    font-size: 1.2rem;
    line-height: 2rem;
    color: #ccc;
    margin-bottom: 1.5rem;
}

.sidebar-container ul{
    list-style: none;
    line-height: 2.0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
}

.sidebar-container ul li{
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 1.2rem;
}

.sidebar-container ul li a{
    text-decoration: none;
    color: #ccc;
}

.sidebar-container ul li:last-child{
    margin-top: -1rem;
    border-bottom: none;
}

.sidebar-container .more-link{
    color: #ccc;
}


/* Hero section bottom */

.hero-section-bottom{
    width: 100%;
    background-color: #000;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    
}

.hero-section-bottom .col{
    flex: 1;
    width: calc(100% / 3);
    background-color: #fff;
    height: 100%;
    padding: 0.9rem;
    position: relative;
}

.hero-section-bottom .col::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    background-color: #ccc;
    top: 5%;
    right: 0;
}

#col-1,#col-2,#col-3{
    position: relative;
}

#col-1 h3,#col-2 h3,#col-3 h3{
    font-size: 1.5rem;
    color: #787676;
    text-align: center;
    margin-bottom: 0.5rem;
}
#col-2 h3{
    text-align: left;
    padding-left: 1.5rem;
}
#col-1 p,#col-2 p,#col-3 p{
    z-index: 11;
    font-size: 1.1rem ;
    color: #bdbdbd;
    text-align: left;
    margin-left: 1.5rem
}

#col-1 img{
    /* margin-top: -2rem; */
    width: 75%;
    margin-left: 0px;
    position: absolute;
    bottom: 0;
    height: 100%;
    mix-blend-mode: multiply;
    left: 0;
}

#col-1 a{
    text-decoration: none;
    position: absolute;
    font-size: 1.4rem;
    right: 1rem;
    bottom: 8rem;
    color: #6C7B91;
}

#col-2 img {
    mix-blend-mode: multiply;
    position: absolute;
    bottom: 0;
    left: 0;
}

#col-2 a,#col-3 a{
    text-decoration: none;
    position: absolute;
    font-size: 1.4rem;
    color: #6C7B91;
    right: 1rem;
    top: 8rem;
}

#col-3 h3{
    text-align: left;
}

#col-3 p{
    margin-left: 0;
    margin-top: 1rem;
}

#col-3 img{
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    bottom: 0;
}

#col-3 a{
    left: 1rem;
    top: 50%;
}



.footer{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
}

.footer-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1rem;
}

.footer-left{
    display: flex;
    flex-direction: column;
    color: #b9b7b7;
    gap: 1rem;
}

.footer-left .row a{
    color:#bdbdbd ;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem;
    padding-left: 0;
}


.footer-left .help a,.footer-left .help{
    color:#bdbdbd ;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

.footer-left .copyright p{
    font-size: 1rem;
    word-spacing: 1rem;
}

.footer-right p{
    color: #b9b7b7;
    margin-bottom: 1rem;
    font-size: 1rem;
}

input[type="email"]{
    width: 20rem;
    padding: 0.1rem;
    height: 2rem;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

input[type="email"]::placeholder{
    font-size: 1.1rem;
    padding: 0.1rem;
    font-weight: 500;
}
.footer-right form button{
    font-size: 1.1rem;
    padding: 0.3rem;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}