*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    background-image: url("./Mikasa Task Screenshots/background12.png");
    background-position: center;
    background-size: cover;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.top-header{
    height: 55px;
    width: 80%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    font-size: 1.1rem;
    color: #555;
    margin-top : 1.5rem;
 }
/* .cart-nav{
    border:solid black 1px;
    padding:0.2rem;
} */
 .top-header ul div{
    height:15px;
    border-right: 1px solid #848383;
 }
.top-header ul li{
    padding: 0.5rem;
    /* border-right: 0.1rem  solid #a2a1a1; */
    padding-right: 0.1rem;
    display: flex;
    align-items: center;
    color:#848383;
    /* border-right :1px solid #848383; */
}
.top-header ul li img {
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
}
/* .top-header ul li:last-child{
    border-right: none;
} */

.mid-header{
    width: 100%;
    background-color: #c2c0c0;
    display: flex;
    justify-content: center;
    border-top: 0.2rem solid #fff;
    border-bottom: 0.2rem solid #fff;
    outline: 0.1rem solid #b9b7b7;
    
}

nav{
    /* border-right:solid 1px white; */
    width: 80%;
    color: #000;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    /* border:solid 1px rgb(21, 18, 18); */

    text-decoration: none;
    color: #373737;
    padding:0.5rem;
   
}

.nav-part-one,.nav-part-two{
    display: flex;
    gap: 1rem;
}

.tab{
    font-size:1.1rem;
    padding:0.1rem 1.4rem;
    position: relative;
    font-weight: lighter;
}
.tab::after{
    content:"";
    width:1px;
    height:200%;
    background-color:#E5E3E3;
    position: absolute;
    top:-50%;
    right:0;
}

.search input{
    border:0.1rem solid #bdbdbd;
    outline: none;
    padding:0.2rem 0.6rem;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.search input::placeholder{
    font-size: 1rem;
    font-weight: 500;
}

.search button{
    padding: 0.2rem 0.6rem;
    font-size: 1rem;
    font-weight: 600;
    color: #2b2b2b;
}

/* bottom header */
.bottom-header{
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    border-bottom: 0.1rem solid #b9b7b7;
    padding-left: 10px;
}

.bottom-header-details{
    width: 80%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.5rem; */
}

.links{
    display: flex;
    gap: 1rem;
    color: #6C7B91;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.links a,.right a {
    color: #6C7B91;
    text-decoration: none;
    font-weight: 300;
}

.dot{
    width: 0.4rem;
    height: 0.4rem;
    background-color: transparent;
    border: 0.1rem solid #b9b7b7;
    margin-top: 0.5rem;
    border-radius: 50%;
    /* -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; */
}

.right{
    display: flex;
    /* border: #000 solid 2px; */
    gap: 1rem;
    align-items: center;
    padding-right:40px;
    margin-right: 20px;
}

/* main - content */
.main-content{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 50rem; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.hero-section{
    width: 80%;
    padding: 0.5rem 1rem;
}

.hero-section-top{
    display: flex;
    background-color: #fff;
    padding: 0.7rem;
    gap: 0.8rem;
}
/* #go{
    border-radius: 4px;
} */
aside{
    flex: 1;
    background-color: #333;
    padding: 1rem;
    color: #fff;
}

.sidebar-container{
    font-family: Arial;
    border: 0.1rem solid #fff;
    padding: 2rem 3rem;
}

.sidebar-container .p{
    text-align: left;
    color: white;
    font-size: 2.5rem;
    font-weight: 0.2 rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.sidebar-container .p1{
    font-size: 1rem;
    font-weight:  0.4rem;
    line-height: 2rem;
    color:#c2c0c0;
    margin-bottom: 1.5rem;
}

.sidebar-container ul{
    list-style: none;
    line-height: 2.0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    
}

.sidebar-container ul li{
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 1.2rem;
    
}

.sidebar-container ul li a{
    text-decoration: none;
    /* color: #ccc; */
    color:white;
}

.sidebar-container ul li:last-child{
    margin-top: -1rem;
    border-bottom: none;
}

.sidebar-container .more-link{
    color: #ccc;
}


.bottom-section{
    width: 100%;
    background-color: #000;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    
}

.bottom-section .col{
    flex: 1;
    width: calc(100% / 3);
    background-color: #fff;
    height: 100%;
    padding: 0.9rem;
    position: relative;
    font-family: inter;
}

.bottom-section .col::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    background-color: #ccc;
    top: 5%;
    right: 0;
}

/*  */

#c1 h3,#c2 h3,#c3 h3{
    font-size: 1.5rem;
    font-weight:400;
    font-family: 'Inter';
    color: #787676;
    text-align: center;
    margin-bottom: 0.5rem;
}
#c2 h3{
    text-align: left;
    padding-left: 1.5rem;
}
#c1 p,#c2 p,#c3 p{
    z-index: 11;
    font-size:1.1rem ;
    font-family: 'Inter';
    color: #bdbdbd;
    text-align: left;
    margin-left: 1.5rem
}

#c1 img{
    /* margin-top: -2rem; */
    width: 75%;
    margin-left: 0px;
    position: absolute;
    bottom: 0;
    height: 100%;
    mix-blend-mode: multiply;
    left: 0;
}

#c3 a{
    
    text-decoration: none;
    position: absolute;
    font-size: 1.4rem;
    /* right: 1rem; */
    bottom: 8rem;
    color: #6C7B91;
    /* border: 2px solid black; */
}

#c2 img {
    mix-blend-mode: multiply;
    position: absolute;
    bottom: 0;
    left: 0;
}
#c1 a,#c2 a{
    text-decoration: none;
    position: absolute;
    font-size: 1.4rem;
    color: #6C7B91;
    bottom:8rem;
    /* right: 1rem;
    top: 8rem; */
    left:16rem;
    /* border: 2px solid black; */
}

#c3 h3{
    text-align: left;
}

#c3 p{
    margin-left: 0;
    margin-top: 1rem;
}

#c3 img{
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* #c3 a{
    left: 1rem;
    top: 50%;
} */
.footer{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
}

.footer-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1rem;
}

.footer-left{
    display: flex;
    flex-direction: column;
    color: #b9b7b7;
    gap: 1rem;
}

.footer-left .row a{
    color:#bdbdbd ;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem;
    padding-left: 0;
}


.footer-left .help a,.footer-left .help{
    color:#bdbdbd ;
    /* letter-spacing: 0.1rem; */
    font-size: 1rem;
    word-spacing: 0.2rem;
}

.footer-left .copyright p{
    font-size: 1rem;
    word-spacing: 0.2rem;
}

.footer-right p{
    color: #b9b7b7;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.footer-span{
    border-right:1px solid #b9b7b7;
    height:4px;
    margin-right: 10px;
    margin-left: 0;
    padding-left: 0;
}

input[type="email"]{
    width: 20rem;
    outline: none;
    padding: 0.5rem;
    height: 2rem;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

input[type="email"]::placeholder{
    font-size: 1.1rem;
    padding: 0.5rem 0.8rem;
    font-weight: 500;
}
.footer-right form button{
    font-size: 1.1rem;
    padding: 0.3rem 0.6rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
}
@media (max-width: 1024px){
    nav { 
        width: 90%; 
    }
    .top-header, .bottom-header-details, .hero-section 
    { 
        width: 90%; 
    }
    .hero-section-top > img 
    { 
        width: 55%;
     }
    aside 
    { 
        min-width: 220px;
    }

}
@media (max-width: 786px)
{
    .top-header{
        height: auto;
        width: 94%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    .top-header ul{
         margin-top: 0.2rem;
          font-size: 1.3rem; 
        }
    .tab{
        border-bottom: solid 1px grey;
        
    }
    .links{
        padding-top: 5px;
    }
    nav{
        width: 100%;
        flex-wrap: wrap;
        gap: 0.6rem;
        overflow: hidden;
        
    }
    .nav-part-one{ 
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 7px;
        width:100%;
        
     }
    .nav-part-one a{
        padding-bottom: 7px;
    }
     .nav-part-two{
        margin-top: 5px;
        margin-bottom: 5px;
    
     }
    
    .bottom-header-details{
        width: 94%;
        flex-direction: column;
        gap: 0.6rem;
        align-items: flex-start;
        margin-top: 10px;
    }
    .sidebar-container .p{
        text-align: center;
    }
    .hero-section-top{
        flex-direction: column;
        padding: 0.6rem;
    }
    .hero-section-top > img{
        width: 100%;
        height: auto;
    }
    aside{
        width: 100%;
        min-width: auto;
    }

    .bottom-section{
        display: flex;
        height: 110vw;
        padding: 0.6rem;
        flex-direction: column;
        align-items: stretch;
    }
    .bottom-section .col{
        width: 100%;
        /* height: auto; */
        /* padding: 1rem; */
        border:2px solid black;
    }
    .bottom-section .col::before{ 
        display: none;
     }
     .bottom-section #c1 h3,#c2 h3,#c3 h3{
        text-align: start;
        padding:0;
     }
     .bottom-section .col p{
        text-align: start;
        margin: 0;
     }
      .copyright{
       padding-bottom: 6px;
      }
      #c3 img{
        right: 0;
        bottom:0;
        width: 50%;
        height:30vh;
      }
    #c1 img, #c2 img{
        position: static;
        width: 60%;
        height:auto;
        margin: 0.4rem 0 0.4rem 0;
        display: block;
        mix-blend-mode: normal;
    }
    #c1 a, #c2 a{
        position: absolute;
         margin-right: 0;
         margin-left: 180px;
         padding-right: 0;
        right:0; 
        display: inline;
        margin-top: 0.6rem;
    }

     #c3 a {
        position: absolute;
        bottom:30px;
        margin-top: 200px;
        padding-top: 60px;
        margin-left:20px;
     }
    .footer-container{
        width: 94%;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer{
        margin-bottom: 50px;
        margin-left: 20px;
    }
    .footer-right{ width: 100%; }
}
@media (max-width: 497px) {
    html {
         font-size: 56%;
        }
    .top-header ul{
         font-size: 1.2rem;
          gap: 0.4rem;
         }
    .tab{
         font-size:1.1rem; 
         padding:0.2rem 0.6rem;
         }
    .sidebar-container .p{ 
        font-size: 2rem;
     }
    .sidebar-container .p1{ 
        font-size: 1.1rem;
         line-height:1.5rem;
         }
    input[type="email"]{
         width: 100%; 
        }
    .footer-right form{
         width: 100%;
        flex-direction: column; 
          gap: 0.4rem;
           align-items: stretch;
         }
}